openapi: 3.0.1
info:
  title: Referral Stack API
  description: Get more out of every customer with Referral Stack
  termsOfService: http://swagger.io/terms/
  contact:
    email: support@referralstack.io
  license:
    name: MIT
    url: https://github.com/hirebarend/react-admin-mui-template/blob/main/LICENSE
  version: 0.1.0
servers:
  - url: https://api.referralstack.io/v1
  - url: http://api.referralstack.io/v1
tags:
  - name: campaigns
    description: Create, retrieve, update and delete campaigns
  - name: conversions
    description: Create, retrieve, update and delete conversions
  - name: customers
    description: Create, retrieve, update and delete customers
  - name: referrers
    description: Create, retrieve, update and delete referrers
  - name: rewards
    description: Create, retrieve, update and delete rewards
paths:
  /campaigns/{code}:
    get:
      tags:
        - campaigns
      summary: Retrieve a campaign
      operationId: campaigns-retrieve-a-campaign
      parameters:
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        400:
          description: Bad Request
          content: {}
        401:
          description: Unauthorized
          content: {}
  /referrer:
    get:
      tags:
        - referrers
      summary: Retrieve referrers
      operationId: -referrers-retrieve-referrers
      parameters:
        - name: authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Referrer'
        400:
          description: Bad Request
          content: {}
        401:
          description: Unauthorized
          content: {}
    post:
      tags:
        - referrers
      summary: Create a referrer
      operationId: -referrerscreate-a-referrer
      parameters:
        - name: authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Referrer object that needs to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReferrerRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Referrer'
        400:
          description: Bad Request
          content: {}
        401:
          description: Unauthorized
          content: {}
  /referrer/{id}:
    get:
      tags:
        - referrers
      summary: -Retrieve a referrer
      operationId: referrers-retrieve-a-referrer
      parameters:
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Referrer'
        400:
          description: Bad Request
          content: {}
        401:
          description: Unauthorized
          content: {}
  /referrer/{id}/campaigns:
    get:
      tags:
        - campaigns
      summary: Retrieve campaigns
      operationId: campaigns-retrieve-campaigns
      parameters:
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Campaign'
        400:
          description: Bad Request
          content: {}
        401:
          description: Unauthorized
          content: {}
    post:
      tags:
        - campaigns
      summary: Create a campaign
      operationId: campaigns-create-a-campaign
      parameters:
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Campaign object that needs to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        400:
          description: Bad Request
          content: {}
        401:
          description: Unauthorized
          content: {}
  /referrer/{id}/campaigns/{code}:
    get:
      tags:
        - campaigns
      summary: Retrieve a campaign
      operationId: campaigns-retrieve-a-campaign
      parameters:
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        400:
          description: Bad Request
          content: {}
        401:
          description: Unauthorized
          content: {}
    put:
      tags:
        - campaigns
      summary: Update a campaign
      operationId: campaigns-update-a-campaign
      parameters:
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: code
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Campaign object that needs to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        400:
          description: Bad Request
          content: {}
        401:
          description: Unauthorized
          content: {}
  /campaigns/{code}/conversions:
    post:
      tags:
        - conversions
      summary: Create a conversion
      operationId: -conversionscreate-a-conversion
      parameters:
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: code
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Conversion object that needs to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversionRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversion'
        400:
          description: Bad Request
          content: {}
        401:
          description: Unauthorized
          content: {}
components:
  schemas:
    Campaign:
      type: object
      properties:
        code:
          type: string
          example: CD3FP
        id:
          type: string
          example: TdlWP5Bu1WUxZ5dIBVyh
        name:
          type: string
          example: Campaign 1
        referrer:
          $ref: '#/components/schemas/Referrer'
      xml:
        name: Campaign
    CampaignRequest:
      type: object
      properties:
        code:
          type: string
          example: CD3FP
        id:
          type: string
          example: TdlWP5Bu1WUxZ5dIBVyh
        name:
          type: string
          example: Campaign 1
      xml:
        name: Campaign
    Conversion:
      type: object
      properties:
        campaign:
          $ref: '#/components/schemas/Campaign'
        createdAt:
          type: string
          example: 2022-06-14T13:44:39.733Z
        id:
          type: string
          example: 6e278fd8-562e-4435-8a9e-54c238bcd980
        entity:
          type: string
          example: john.smith@example.com
        type:
          type: string
          example: sign_up
      xml:
        name: Conversion
    ConversionRequest:
      type: object
      properties:
        createdAt:
          type: string
          example: 2022-06-14T13:44:39.733Z
        id:
          type: string
          example: 6e278fd8-562e-4435-8a9e-54c238bcd980
        entity:
          type: string
          example: john.smith@example.com
        type:
          type: string
          example: sign_up
      xml:
        name: Conversion
    Referrer:
      type: object
      properties:
        createdAt:
          type: string
          example: 2022-06-14T13:44:39.733Z
        id:
          type: string
          example: cbc06676-e2b4-4e1f-9710-b2d4f9792753
      xml:
        name: Referrer
    ReferrerRequest:
      type: object
      properties:
        id:
          type: string
          example: cbc06676-e2b4-4e1f-9710-b2d4f9792753
      xml:
        name: Referrer
